body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

    background-color: #f7f4f1;
	background-image: url("img/background.png");
	background-position: top center;
	background-repeat: no-repeat;
}
a {
	text-decoration: none;
}
.header-nav {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

	background-color: #000000;
}
.nav-list,
.user-navigation {
	list-style: none;
}
.nav-list a,
.user-navigation a {
	color: #ffffff;
}
.nav-list a:hover,
.nav-list a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}
.heading {
	font-size: 30px;
	line-height: 42px;
	font-weight: 700;
}
.resourses-list {
	font-size: 14px;
	line-height: 20px;
	list-style: none;
}
.resourses-list a {
	color: #000000;
}
.resourses-list a:hover,
.resourses-list a:focus {
	background-color: #e3d6d6;
}
.resourses-list li:last-child {
	color: #aba9a7;
}
.checkbox-form {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}
.radio-form {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}
.filter-button {
	background-color: #000000;
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
}
.filters fieldset {
	border: none;
}
.filters ul {
	list-style: none;
	line-height: 18px;
}
.filter-input:hover + label,
.filter-input:focus + label {
	color: #663d15;

	opacity: 0.5;
}
.catalog-list {
	list-style: none;
}
.set-item {
	background-color: #f8f8f8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.set-item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.set-item a {
	color: #000000;
}
.set-item h3 {
	font-size: 14px;
	line-height: 18px;
}
.catalog-category {
	text-transform: none;
}
.catalog-item-price b {
	font-size: 14px;
	line-height: 20px;
	text-align: center;

	background-color: #e5e5e5;
}
.catalog-item-price .button {
	line-height: 20px;
	color: #ffffff;
	background-color: #000000;
}
.pagination-list {
	list-style: none;
}
.pagination-item a {
	color: #ffffff;

	background-color: #000000;
}
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}
.pagination-item-current a {
	color: #000000;

    background-color: #ffffff;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #000000;
	background-color: #ffffff;
}
/* catalog.html style finished, only footer left */