body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

    background-color: #f8f5f2;
    background-image: url("../img/bg.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}
a {
	text-decoration: none;
}
.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}
.header-nav {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	background-color: #000000;
}
.nav-list,
.user-navigation {
	list-style: none;
}
.nav-list a,
.user-navigation a {
	color: #ffffff;
}
.nav-list a:hover,
.nav-list a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}
.heading {
	font-size: 30px;
	line-height: 42px;
	font-weight: 700;
}
.resourses-list {
	font-size: 14px;
	line-height: 20px;
	list-style: none;
}
.resourses-list a {
	color: #000000;
}
.resourses-list a:hover,
.resourses-list a:focus {
	background-color: #e3d6d6;
}
.resourses-list li:last-child {
	color: #aba9a7;
}
.checkbox-form {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}
.radio-form {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}
.filter-button {
	background-color: #000000;
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
}
.filters fieldset {
	border: none;
}
.filters ul {
	list-style: none;
	line-height: 18px;
}
.filter-input:hover + label,
.filter-input:focus + label {
	color: #663d15;
	opacity: 0.5;
}
.catalog-list {
	list-style: none;
}
.set-item {
	background-color: #f8f8f8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.set-item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.set-item a {
	color: #000000;
}
.set-item h3 {
	font-size: 14px;
	line-height: 18px;
}
.catalog-category {
	text-transform: none;
}
.pagination-list {
	list-style: none;
}
.pagination-item a {
	color: #ffffff;
	background-color: #000000;
}
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}
.pagination-item-current a {
	color: #000000;

    background-color: #ffffff;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #000000;
	background-color: #ffffff;
}
/* catalog.html style finished, only footer left */

.catalog-item-price b {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	background-color: #e5e5e5;
}

.catalog-item-price .button {
	line-height: 20px;
	color: #ffffff;
}
.main-footer {
	color: #ffffff;
	background-color: #212121;
	background-image: url("../img/bg-footer.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}
.footer-contacts a {
	color: #ffffff;
	text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}
.footer-social {
	text-align: center;
}
.footer-social ul {
	list-style: none;
}
.social {
	color: #ffffff;
}
.social:hover,
.social:focus {
	color: #000000;
	background-color: #ffffff;
}
.footer-copyright {
	text-align: center;
}
.footer-copyright a {
	color: #ffffff;
}
.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000000;
	background-color: #ffffff;
}

/* catalog-item styles */

.set-item-preview {
	list-style: none;
}
.set-item-preview li {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.main-item {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.set-article {
	text-align: right;
	color: #aeaeae;
}
.set-price b {
	line-height: 20px;
	text-align: center;
	background-color: #e5e5e5;
}
.set-info h3 {
	font-size: 24px;
	line-height: 30px;
}
.set-info ul {
	list-style: none;
}
.visually-hidden {
	display: hidden;
}

/* ---Layout styles--- */

html,
body {
	min-width: 1122px;
	min-height: 1750px;
}

/* ---Layout styles for header--- */


.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.main-header {
	margin-bottom: 50px;
}
.header-nav {
	display: flex;
	align-items: flex-start;
}
.header-logo {
	order: 0;
	width: 111px;
	height: 24px;
	padding: 23px 20px;
}
.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;
	margin-top: 20px;
}

/* come back here later and decide which container to delete, maybe i can wrap navigation into section and try it out */


.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}
.nav-list {
	width: 620px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.user-navigation {
	width: 140px;
	margin: 0;
	margin-left: auto;
	padding: 0;
}


/* ---Layout styles for main--- */ 
.resourses-list {
	display: flex;
	width: 310px;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
	padding: 0;
}

